.sidenav
  .container-fluid
    ul.main_menu
      li
        a(href="#", target="") 
          img(src="img/astronaut.svg", alt="Home Icon")
          span Home
      li
        a(href="#", target="") 
          img(src="img/astronaut.svg", alt="Home Icon")
          span About Me
      li
        a(href="#", target="") 
          img(src="img/astronaut.svg", alt="Home Icon")
          span Projects
      li
        a(href="#", target="") 
          img(src="img/astronaut.svg", alt="Home Icon")
          span My Skills
      li
        a(href="#", target="") 
          img(src="img/astronaut.svg", alt="Home Icon")
          span Hire Me
          